$gray: #404040;
$blueDark: #375C8C;
$blueLight: #497AA6;
$violet: #F22973;
$violetDark: #59022B; 

// Theme 2
$white: #F2F2F2; 
$t-light-purple: #A7ABF2;
$t-blue: #7278F2;
$t-light-green: #80DDF2;
$t-green: #4BF2E2;

// Screen
$small: 340px;
$semi-small: 695px;
$medium: 761px;
$large: 960px;
$x-large: 1023px;
$xx-large: 1260px;

// mixin
@mixin from($size) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin box {
    border-radius: 20px;
    background: $white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0px 20px;
    padding: 20px;
    min-height: 100px;
    clear: box;

    @include from($x-large){
        margin: 5px 0px;
        padding: 5%;
    }
}

.sub-title{
    font-weight: 700;
    font-size: 20px;
    color: $t-blue;
}

.borde-inteno{
    border: 5px solid $t-green;
    border-radius: 10px;
    margin-right: 10px;
}

.muestra-color{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

.icon{
    width: 25px !important;
    height: 25px !important;
    margin: 0px 5px !important;
}

.text-blue{
    color:$blueLight;
}

.bg-t-blue{
    background: $t-blue;
}

.bg-t-green{
    background: $t-green;
}

.bg-t-violet{
    background: $violet;
}

.bg-t-violetDark{
    background: $violetDark;
}

.bg-t-gray{
    background: $gray;
}

.bg-t-light-purple{
    background: $t-light-purple;
}

.bg-t-light-green{
    background: $t-light-purple;
}

.bg-t-blueDark{
    background: $blueDark;
}

